#Modules
node_modules/
#Distributables
client/dist/bundle.js
client/dist/serverBundle.js
#Generated Data
database/data
#Outdated Database
database/mongo
#newrelic logs
newrelic_agent.log
#package-lock
package-lock.json